
<div class="container">

    <div class="row mt-5">
        <div class="col-md-1 col-12"></div>
        <div class="col-md-10 col-12 center">
            <h2 class="mb-4">TECH STACKS <i class="fa fa-free-code-camp fa-2x" aria-hidden="true"></i></h2>
            <div class="d-flex flex-row justify-content-center flex-wrap">
              <p class="stack">Angular </p>
              <p class="stack">FLutter </p>
              <p class="stack">Node</p>
              <p class="stack">Express</p>
              <p class="stack">SQL </p>
              <p class="stack">TS & JS</p>
              <p class="stack">Tailwind & Bootstrap</p>
              <p class="stack">Figma & Adobe Xd</p>
            </div>
        </div>
        <div class="col-md-1 col-12"></div>
        <hr>
    </div>
    <h2 class="theme_color">PROJECTS</h2>
    <div class="row">
        <div class="col-md-6 col-12">

            <div class="jet_box">
                <h5 class="theme_color">School Management System</h5>
                <li><small>Desktop and Web Based School Management System that makes the whole School Work paperless</small></li>
                <li><small>Integrated Bio-metric attendance system</small></li>
                <li><small>Designed RESTful backend server enabling support of high scalability and support for cross platform</small></li>
                <li><small>Designed in a modular approach using Angular that helps distribution of services choice based</small></li>
                <li><small> <span class="theme_color">Utilized:-</span> Angular, PHP, JSON Web Token, Mysql, Ionic, Bootstrap </small></li>
            </div>

            <div class="jet_box">
              <h5 class="theme_color">FORENSIC MANAGEMENT SYSTEM </h5>
              <small class="theme_color opacity-75">(College Project)</small>
              <li><small>CLI based management system which manages cases, police, forensic experts profiles</small></li>
              <li><small>Integrated API to handle CSV databases in JAVA</small></li>
              <li><small>Responsible to design the system architecture and flow of program</small></li>
              <li><small>Lead the project, co-ordinated with team members, and distributed the works</small></li>
              <li><small> <span class="theme_color">Utilized:-</span> JAVA </small></li>
              <div class="d-flex flex-row justify-content-between">
                <a class="me-3" target="_blank" href="https://github.com/Aashray446/Forensic-Management-System">REPO LINK</a>
               </div>
          </div>

        </div>
        <div class="col-md-6 col-12">
            <div class="jet_box">
                <h5 class="theme_color">Bulk Sms Software</h5>
                <ol>
                    <li><small>Desktop based messaging software that is used in offices to send messages to selected numbers</small></li>
                    <li><small>Did through User research and designed UI based on that using Bootstrap</small></li>
                    <li><small>Designed RESTful backend server using corePHP and Mysql</small></li>
                    <li><small class="theme_color">Utilized:-</small><small>Electron, PHP, Javascript and MySQL</small></li>
                </ol>
            </div>
            <div class="jet_box">
                <h5 class="theme_color">DSA VISUALIZER</h5>
                <ol>
                    <li><small>Responsible for the complete UI design</small></li>
                    <li><small>Layed out the system structure as the project was meant to be build on vanilla js only</small></li>
                    <li><small>Co-ordinate with contributors to build different visualization part</small></li>
                    <li><small>Implemented complete logic and UI of pages - Index, Stack, SLL, DLL, Binary Search Tree</small></li>
                    <li><small class="theme_color">Utilized:-</small><small>Tailwind, HTML, CSS, Vanilla JS</small></li>
                </ol>
                <div class="d-flex flex-row justify-content-between">
                  <a class="me-3" target="_blank" href="https://github.com/Aashray446/DSA_MADE_EASY">REPO LINK</a>
                  <a href="https://aashray446.github.io/DSA_MADE_EASY/index.html" target="_blank"> DEMO LINK</a>
                 </div>
            </div>
            <div class="jet_box">
              <h5 class="theme_color">POCKET TRACKER

              </h5>
              <small class="theme_color opacity-75">Hack@ARC Hackathon</small>
              <ol>
                  <li><small>Responsible for UI/UX research and prototyping</small></li>
                  <li><small>Implemented the complete designed Figma prototype with flutter</small></li>
                  <li><small class="theme_color">Utilized:-</small><small>Flutter, Figma</small></li>
              </ol>
              <div class="d-flex flex-row justify-content-between">
                <a class="me-3" target="_blank" href="https://github.com/Aashray446/Pocket-Tracker">REPO LINK</a>
                <a target="_blank" href="https://www.figma.com/file/1yc1apgWL5BTCienTiw3E8/Untitled?node-id=0%3A1">FIGMA DESIGN</a>
               </div>
          </div>
        </div>
    </div>
</div>
